{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block head %}
    <title>{% translate 'AI图生图' %} | {% translate '注册' %}</title>
    <style>
        body {
            display: -ms-flexbox;
            -ms-flex-align: center;
            align-items: center;
            background-color: #f5f5f5;
        }

        .form-register {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: auto;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .form-label-group input,
        .form-label-group label {
            height: 3.125rem;
            padding: .75rem;
        }

        .form-label-group label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0; /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            pointer-events: none;
            cursor: text; /* Match the input under the label */
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }

        .form-label-group input::-webkit-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-moz-placeholder {
            color: transparent;
        }

        .form-label-group input:-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::-ms-input-placeholder {
            color: transparent;
        }

        .form-label-group input::placeholder {
            color: transparent;
        }

        .form-label-group input:not(:-moz-placeholder-shown) {
            padding-top: 1.25rem;
            padding-bottom: .25rem;
        }

        .form-label-group input:not(:-ms-input-placeholder) {
            padding-top: 1.25rem;
            padding-bottom: .25rem;
        }

        .form-label-group input:not(:placeholder-shown) {
            padding-top: 1.25rem;
            padding-bottom: .25rem;
        }

        .form-label-group input:not(:-moz-placeholder-shown) ~ label {
            padding-top: .25rem;
            padding-bottom: .25rem;
            font-size: 12px;
            color: #777;
        }

        .form-label-group input:not(:-ms-input-placeholder) ~ label {
            padding-top: .25rem;
            padding-bottom: .25rem;
            font-size: 12px;
            color: #777;
        }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: .25rem;
            padding-bottom: .25rem;
            font-size: 12px;
            color: #777;
        }

        .form-label-group input:-webkit-autofill ~ label {
            padding-top: .25rem;
            padding-bottom: .25rem;
            font-size: 12px;
            color: #777;
        }

        /* Fallback for Edge
        -------------------------------------------------- */
        @supports (-ms-ime-align: auto) {
            .form-label-group {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

            .form-label-group label {
                position: static;
            }

            .form-label-group input::-ms-input-placeholder {
                color: #777;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <form action="" class="form-register needs-validation" method="post" novalidate>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">{% translate '注册' %}</h1>
            <p>{% translate '已有账号？' %} <a href="/login">{% translate '点此登录' %}</a></p>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="{% translate '邮箱' %}" required>
            <label for="inputEmail">{% translate '邮箱' %}</label>
            <div class="valid-feedback">{% translate '验证成功' %}</div>
            <div class="invalid-feedback">{% translate '请输入正确的邮箱' %}</div>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="{% translate '密码' %}" required>
            <label for="inputPassword">{% translate '密码' %}</label>
            <div class="valid-feedback">{% translate '验证成功' %}</div>
            <div class="invalid-feedback">{% translate '密码需 8-30 字符且包含字母及数字' %}</div>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="{% translate '确认密码' %}" required>
            <label for="inputPasswordRepeat">{% translate '确认密码' %}</label>
            <div class="valid-feedback">{% translate '验证成功' %}</div>
            <div class="invalid-feedback">{% translate '请重复输入相同密码' %}</div>
        </div>

        <div class="form-label-group">
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-8" style="padding-right: 0px; padding-left: 0px; ">
                    <input type="text" name="captcha" id="inputCaptcha" class="form-control" placeholder="{% translate '验证码' %}" required>
                    <label for="inputCaptcha">{% translate '验证码' %}</label>
                </div>
                <div class="col-4" style="padding-right: 10px; padding-left: 10px; ">
                    <img id="captcha_img" style="width: 90%; top: 3px; position: absolute;" src="{{ captcha.image_url }}" alt="点击切换" onclick="refreshCaptcha();">
                </div>
                <script>
                    function refreshCaptcha() {
                        fetch("/refresh_captcha", {
                            method: 'GET'
                        }).then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            document.getElementById("captcha_img").src = data.image_url;
                            document.getElementById("captcha_hashkey").value = data.hashkey;
                        });
                    }
                </script>
            </div>
        </div>


        <input id="captcha_hashkey" value="{{ captcha.hashkey }}" name="hashkey" type="hidden">

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate '注册' %}</button>
        <p class="mt-5 mb-3 text-muted text-center">{% translate 'AI图生图：你的自定义头像生成器' %}</p>
    </form>
    <script>
        function setFormVaildStatus(docid, status) {
            if (status) {
                document.getElementById(docid).classList.remove("is-invalid");
                document.getElementById(docid).classList.add("is-valid");
            } else {
                document.getElementById(docid).classList.remove("is-valid");
                document.getElementById(docid).classList.add("is-invalid");
            }
            return status;
        }
        // 如果验证不通过禁止提交表单
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                    var forms = document.getElementsByClassName('needs-validation');

                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            var inputEmail = setFormVaildStatus("inputEmail", (document.getElementById('inputEmail').value.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1));

                            var inputPassword = setFormVaildStatus("inputPassword", (new RegExp('(?=.*[0-9])(?=.*[a-zA-Z]).{8,30}').test(document.getElementById('inputPassword').value)));

                            var inputPasswordRepeat = false;
                            if (inputPassword) {
                                inputPasswordRepeat = setFormVaildStatus("inputPasswordRepeat", (document.getElementById('inputPasswordRepeat').value != "" && document.getElementById('inputPassword').value == document.getElementById('inputPasswordRepeat').value))
                            }

                            if (!(inputEmail && inputPassword && inputPasswordRepeat)) {
                                event.preventDefault();
                                event.stopPropagation();
                            } else {
                                document.querySelector("body > form > button").disabled = true;
                                Qmsg.loading("{% translate '正在发送注册确认邮件' %}",{});
                            }
                        }, false);
                    });
                },
                false);
        })();
    </script>

    </body>
    </html>
{% endblock %}